@import "./typo.scss";
@import "./color.scss";
@import "./paddings.scss";
@import "./grid.scss";

.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

button {
  cursor: pointer;
}
